body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.hero-container{
    margin-top:20px;
    width:350px;
    height:550px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: darkgrey;
    border:2px solid black;
    border-radius:10px;
    padding:10px;
}
.display{
    margin-top:10px;
    width:300px;
    height:150px;
    background-color: lightgrey;
    border:2px solid black;
    border-radius: 15px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size:50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input{
    color:black;
}
.button-container{
    width:900px;
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    height:70px;
    width:70px;
    margin:1px;
    background-color: rgba(0, 0, 0, 0.76);
    color:white;
    font-size:30px;
}
.operations{
    display:flex;
    flex-direction: column;
    width:70px;
}
.numbers{
    display:flex;
    width:216px;
    height:200px;
    flex-wrap: wrap;
    flex-shrink:0;
}
.AC{
    background-color: red;
    color:black;
}
.subtract{
    font-size:50px;
}
